<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./buy.css">
    <%-include("../partials/navCss.ejs"); -%>
    <title>Car Zone🏎️</title>
</head>
<body>
    <%-include("../partials/nav.ejs"); -%>
    <section class="container">
        <!-- <img src="./file/1701332629391.jpg" alt="qwsdfv"> -->
        <%pics.forEach((items)=>{%>
            <div class="gaadiya">
                <div class="data">
                    <strong>Name of Owner:</strong> <%=items.username %> <br>
                    <strong>Brand of Car:</strong> <%=items.car_company %> <br>
                    <strong>Name of Car:</strong> <%=items.car_name %> <br>
                    <strong>Registration Number of Car:</strong> <%=items.registration_Number %> <br>
                    <strong>Expiry Date of RC:</strong> <%=items.rc_expiry %> <br>
                    <strong>Distance Travelled by Car:</strong> <%=items.distance_travelled %> <br>
                    <strong>Category:</strong> <%=items.category %> <br>
                    <strong>Problems of Car:</strong> <%=items.problems %> <br>
                    <strong>Colour of Car:</strong> <%=items.color %> <br>
                    <strong>Fines/Challan:</strong> <%=items.fines %> <br>
                    <strong>Expected Price:</strong> <%=items.price %> <br>
                    <strong>Specifications:</strong> <%=items.specs %> <br>
                    <div class="get">
                        <form action="/getCar" method="post" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" name="id" value="<%= items._id %>">
                            <button type="submit">
                                Buy
                            </button>
                        </form>
                    </div>
                </div>
                <img src= "<%-items.image %>" alt="pic">
            </div>
        <%})%>
    </section>
    <%-include("../partials/navScript.ejs"); -%>
</body>
</html>